---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card"
import RootLayout from "@/layouts/RootLayout.astro"
import { ProviderForm } from "@/components/providers/ProviderForm"
---

<RootLayout title="Crear proveedor">
	<div transition:name="createProvider" class="flex justify-center">
		<Card className="max-w-2xl w-full">
			<CardHeader>
				<CardTitle>Crear Proveedor</CardTitle>
			</CardHeader>
			<CardContent>
				<ProviderForm action="add" client:load />
			</CardContent>
		</Card>
	</div>
</RootLayout>
