---
import { UserPlus2 } from "lucide-react"
import { Button } from "../ui/button"
---

<a transition:name="createUser" href="/users/create">
	<Button className="justify-center gap-2">
		<UserPlus2 className="w-6 h-6" />
		Crear nuevo usuario
	</Button>
</a>
