---
import { ShopForm } from "@/components/shops/ShopForm"
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card"
import RootLayout from "@/layouts/RootLayout.astro"

const { id } = Astro.params
---

<RootLayout title="Editar comercio">
	<div transition:name="createShop" class="flex justify-center">
		<Card className="max-w-2xl w-full">
			<CardHeader>
				<CardTitle>Editar Comercio</CardTitle>
			</CardHeader>
			<CardContent>
				<ShopForm action="edit" shopId={id} client:load />
			</CardContent>
		</Card>
	</div>
</RootLayout>
